* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    line-height: 1.5;
    white-space: none;
    letter-spacing: 3px;
    text-shadow: 8px 5px 2px crimson;
}

p {
    color: #444;
    font: 400 18px/5.6 'Roboto', sans-serif;
    text-align: justify;
    text-transform: capitalize;
    letter-spacing: 1px;
    word-spacing: 2px;
    text-indent: 10px;
}

.container {
    width: 1200px;
    height: 1200px;
    background: dodgerblue;
}

.box {
    width: 200px;
    height: 200px;
    border: 2px solid tomato;
    position: relative;
}

.box1 {
    background-color: crimson;
    position: fixed;
    left: 0;
    z-index: 2;
}

.box2 {
    background-color: aquamarine;
    position: fixed;
    left: 100px;
    top: 280px;
    z-index: 1;
    border: 4px solid crimson;
    border-radius: 10px;
    transform: scale(1.1);
}

.box3 {
    background-color: aqua;
    position: fixed;
    left: 200px;
    top: 380px;
    z-index: 3;
}